body{
    background-color: teal;
    color: white;
    font-family: 'Style Script', cursive;
}
.heading{
    font-size: 40px;
    width: 80%;
}
#camera{
    width: 300px;
    height: 300px;
    border: 2px solid rgb(255, 214, 214);
}
.nameofobjects{
    font-size: 25px;
}